body {
    background:#e9edee;
    font-family:"Avenir Next", "Roboto", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

.navbar {
    background:#222627;
    border-radius:0;
}
    .navbar-brand {
        background:url('../images/reader-logo.png') no-repeat 50% 0;
        /* The !important flag is needed for a bug in Chrome for Android */
        background-size: 210px 22px !important;
        color:#fff;
        display:block;
        float:none;
        margin:13px auto 0;
        text-indent:-9999px;
        min-width:210px;
        height:22px;
    }

.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1390px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

a.article-link:hover {
    text-decoration:none;
}

article {
    padding-bottom: 1em;
    margin-bottom: 1.5625em;
}
    
    article.compact {
        background:#fff;
        border: 1px solid #dee4e6;
        padding:0.8em;
    }
        article.compact:hover {
            border:1px solid #b5babc;
        }

      article.compact h4 {
          font-size:1.8em;
          margin:0 0 0.8em;
      }

      article.compact p {
          color:#666;
          font-family:"Avenir Next", "Roboto", Helvetica, Arial, sans-serif;
          font-size: 1.1em;
          line-height:1.4em;
      }

      article.compact .img-wrapper {
          border-bottom:5px solid #00b9f3;
          display:block;
          margin-bottom:1em;
          position:relative;
      }

          .img-wrapper .category {
              background:#00b9f3;
              color:#fff;
              display:inline-block;
              font-size:.875em;
              padding:3px 8px 0;
              position:absolute;
              left:0;
              bottom:0;
              text-transform:uppercase;
          }

      article.compact .link-follow {
          color:#00b9f3;
          font-weight:600;
      }

    article.full img {
        margin-bottom:2em;
    }
    article.full a {
        color:#417fb5;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family:"Avenir Next Condensed", "Roboto", Helvetica, "Arial Narrow", sans-serif;
    font-style:normal;
    font-weight:600;
}

h2 {
    font-size:2.8em;
}

p {
    margin: 0 0 1em 0;
    font-family: "Droid Serif", Georgia, serif;
    font-size: 1.5em;
    line-height:1.75em;
}
img {
    max-width: 100%;
}

time {
    display:block;
    font-size: 0.86em;
    font-weight:400;
    color: #bababa;
    margin-bottom:0.5em;
    text-transform:uppercase;
}

.thumbnail a {
    display: block;
}

.small-asset {
    max-width: 250px;
    padding: 0 10px 10px 0;
}

@media (min-width:480px) {
    .container {
        padding-right:20px;
        padding-left:20px;
    }
    article.compact {
        float:left;
        width:46%;
        margin-right:2%;
        min-height:530px;
    }
}
@media (min-width:767px) {
    article.full {
        margin:0 auto;
        max-width:650px;
    }
    article.compact {
        float:left;
        width:31%;
        margin-right:2%;
        min-height:500px;
        max-height:500px;
        overflow:hidden;
        position:relative;
    }
    article.compact .img-wrapper {
        background:#efefef;
        max-height: 232px;
        min-height: 232px;
        overflow: hidden;
        max-width: 450px;
    }
    article.compact .img-wrapper img {
        opacity:0;
    }
    article.compact footer {
        background:
         linear-gradient(
          bottom,
          rgba(255,255,255,1) 0%,
          rgba(255,255,255,0) 100%
        );
        background:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        border-bottom: 1em;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        height:40px;
    }
}

@media (min-width:768px) and (max-width:1000px) {
    article.compact {
    }
}

/* Hi-DPI Media Query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     .navbar-brand {
        background-image:url('../images/reader-logo@2x.png');
        background-repeat:no-repeat;
        background-position:50% 0;
    }
}
