.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 750px;
}

article {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

    article.compact h3 {
        font-size:2em;
        margin-top: 0;
    }

    article.compact p {
        font-size: 1.2em;
    }

    article footer {
        margin-top: 15px;
    }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000;
    font-family:"Avenir Next Condensed", "Roboto", Helvetica, "Arial Narrow", sans-serif;
    font-style:normal;
    font-weight:600;
}


p {
    margin: 0 0 1em 0;
    font-family: Georgia, "Droid Serif", serif;
    font-size: 1.5em;
}

time {
    font-size: 1em;
    font-style: italic;
    color: #b24401;
}

.thumbnail a {
    display: block;
}

.small-asset {
    max-width: 250px;
    padding: 0 10px 10px 0;
}

img {
    max-width: 100%;
}
