/* GLOBAL STYLES */

body {
    background:#e9edee;
    font-family:"Avenir Next", "Roboto", Helvetica, Arial, sans-serif;
    font-size:14px;
    text-rendering: optimizeLegibility;
}

    body.article {
        background:#fff;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family:"Avenir Next Condensed", "Roboto Condensed", "Roboto", Helvetica, "Arial Narrow", sans-serif;
    font-style:normal;
    font-weight:600;
}

h2 {
    font-size:2.2em;
}

img {
    display:block;
    max-width: 100%;
}

time {
    display:inline-block;
    font-size: 0.86em;
    font-weight:400;
    color: #bababa;
    margin-bottom:0.5em;
    text-transform:uppercase;
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

.audio-icon {
    display: inline-block;
    float: right;
    width: 27px;
    height: 27px;
    margin-top:-4px;
    background:url('../images/audio-icon.png') no-repeat 0 0;
    background-size: 27px 27px;
    text-indent: -9999px;
}

.navbar {
    background:#222627;
    border-radius:0;
    position: relative;
}

.navbar-brand {
    background:url('../images/reader-logo.png') no-repeat 50% 0;
    /* The !important flag is needed for a bug in Chrome for Android */
    background-size: 210px 22px !important;
    color:#fff;
    display:block;
    float:none;
    margin:13px auto 0;
    text-indent:-9999px;
    min-width:210px;
    height:22px;
}

.bookmarklet {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    background:url('../images/bookmark-icon.png') no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1390px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Clearfix */
.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* INDEX-SPECIFIC STYLES */

.progress-loader {
    color:#abb1b2;
    display:block;
    font-family:"Avenir Next", "Roboto", Helvetica, Arial, sans-serif;
    font-weight:500;
    text-align:center;
    text-transform:uppercase;
    width:100%;
    -webkit-animation: pulsate 0.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.5;}
    50% {opacity: 1.0;}
    100% {-webkit-transform:opacity: 0.5;}
}

.thumbnail a {
    display: block;
}

.small-asset {
    max-width: 250px;
    padding: 0 10px 10px 0;
}


/* ARTICLE STYLES */

a.article-link:hover {
    text-decoration:none;
}

article {
    padding-bottom: 1em;
    margin-bottom: 1.5625em;
}

    .article-link {
        display:block;
    }

    /* Compact Article Styles*/
    article.compact {
        background:#fff;
        border: 1px solid #dee4e6;
        padding:0.8em;
        position:relative;
    }

        article.compact:hover {
            border:1px solid #b5babc;
        }

        article.compact h4 {
            font-size:1.8em;
            margin:0 0 0.8em;
        }

            article.compact h4:hover {
                text-decoration:underline;
            }

        article.compact p {
            color:#666;
            font-family:"Avenir Next", "Roboto", Helvetica, Arial, sans-serif;
            font-size: 0.9375em;
            line-height:1.4em;
        }

        article.compact .img-wrapper {
            background:#efefef url('../images/bg-blank-asset@2x.png') no-repeat center center;
            background-size:100% auto;
            border-bottom:5px solid #00b9f3;
            display:block;
            margin-bottom:1em;
            position:relative;
        }

            article.compact .img-wrapper .category {
                background:#00b9f3;
                color:#fff;
                display:inline-block;
                font-size:.875em;
                padding:3px 8px 0;
                position:absolute;
                left:0;
                bottom:0;
                text-transform:uppercase;
            }


    /* Full Article Styles*/
    article.full { }

        article.full .byline { }

            article.full .byline ul {
                list-style:none;
                margin:0 0 1em;
                padding:0;
            }

                article.full .byline ul li {
                    display:block;
                    margin-right:1em;
                }

            article.full .byline time {
                color:#999;
            }

        article.full .category {
            display:block;
        }

            article.full .category a {
                background:#00b9f3;
                color:#fff;
                display:inline-block;
                font-size:.875em;
                padding:3px 8px 0;
                text-transform:uppercase;
            }

        article.full figure {
            margin-bottom:2em;
            position:relative;
        }
            article.full figure figcaption {
                background:#fff;
                background:rgba(255,255,255,0.7);
                display:block;
                position:absolute;
                right:0;
                bottom:0;
                width:36px;
                height:36px;
            }

                article.full figure figcaption:after {
                    color:#333;
                    content:"+";
                    font-size:2em;
                    font-weight:300;
                    position:absolute;
                    left:8px;
                    top:-3px;
                }

                article.full figure figcaption span {
                    color:#333;
                    display:none;
                    font-size:0.8125em;
                    line-height:1.3em;
                }

                article.full figure figcaption mark {
                    background:transparent;
                    color:#666;
                    display:none;
                    font-size:0.6875em;
                    font-style:italic;
                    margin-top:0.3em;
                }

            article.full figure figcaption:hover {
                content:"";
                padding:0.5em 0.5em 2em;
                left:0;
                right:0;
                width:100%;
                height:auto;
            }

                article.full figure figcaption:hover:after {
                    content:"";
                }

                article.full figure figcaption:hover span {
                    display:block;
                }

                article.full figure figcaption:hover mark {
                    display:block;
                }

        article.full hr {
            background:#DEE4E5;
            border:0;
            height:1px;
            margin-bottom:0;
        }

        article.full .more-articles {
            background:#F2F6F6;
        }

            article.full .more-articles ul {
                list-style:none;
                margin:0;
                padding:0;
                position:relative;
            }

                article.full .more-articles ul li {
                    margin:5px 0;
                }

                    article.full .more-articles ul li:nth-child(1) {
                        border-bottom:1px solid #DFE2E3;
                    }

                    article.full .more-articles ul li a {
                        display:block;
                        padding:10px;
                    }

                        article.full .more-articles ul li a:hover {
                            background:#DEE4E5;
                            text-decoration:none;
                        }

            article.full .more-articles h4 {
                color:#1e1e1e;
                font-size:1.4em;
            }

            article.full .more-articles h6 {
                color:#6C7579;
                font-family:"Avenir Next", Helvetica, sans-serif;
                font-weight:400;
                text-transform:uppercase;
            }


            article.full .more-articles .next-article h6 {
                text-align: right;
            }


.article-body { }

    .article-body a {
        color:#417fb5;
    }

        .article-body a.embed-placeholder {
            background:#EEFAFF url('../images/ico-embed-placeholder.png') no-repeat 4px center;
            background-size:27px 19px;
            color:#0FA7EA;
            font-weight:800;
            padding:1px 2px 1px 36px;
        }

    .article-body p,
    .article-body ul,
    .article-body ol {
        color:#404040;
        font-family:Georgia, "Droid Serif", serif;
        font-size:1.142857143em;
        line-height:1.7em;
        margin:0;
        padding:10px 0;
    }

    .article-body blockquote {
        border-left:5px solid #c6cbcc;
    }

        .article-body blockquote p {
            color:#666b6c;
            font-style:italic;
            line-height:1.8em;
        }

@media (min-width:500px) {
    article.compact .img-wrapper img {
        opacity:0;
    }

    article.full figure figcaption {
        content:"";
        padding:0.5em;
        left:0;
        right:0;
        width:100%;
        height:auto;
    }

        article.full figure figcaption:after {
            content:"";
        }

        article.full figure figcaption span {
            display:block;
        }

        article.full figure figcaption mark {
            display:block;
        }

}
@media (min-width:700px) and (max-width:899px) {

    .articles-list .article-link:nth-of-type(2n) {
        margin-right:0;
    }

}

@media (min-width:700px) {
    body {
        font-size:16px;
    }

    .container {
        padding-right:20px;
        padding-left:20px;
    }

    .article-link {
        margin-right:4%;
        float:left;
        width:48%;
    }

    article.compact {
        max-height:530px;
        min-height:530px;
        overflow:hidden;
    }

        article.compact footer {
            background:
             linear-gradient(
              bottom,
              rgba(255,255,255,1) 0%,
              rgba(255,255,255,0) 100%
            );
            background:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            border-bottom: 1em;
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            height:40px;
        }
}


@media (min-width:767px) {

    h2 {
        font-size:2.8em;
    }

    article.full {
        margin:0 auto 4em;
        max-width:650px;
    }

        article.full hr {
            margin-bottom:1em;
        }

        article.full .more-articles {
            background:transparent;
        }

            article.full .more-articles ul:after {
                  content: "";
                  display: table;
                  clear: both;
            }

            article.full .more-articles ul:before {
                background:#DEE4E5;
                content:"";
                display:block;
                position:absolute;
                left:50%;
                top:0;
                height:100px;
                width:1px;
            }

            article.full .more-articles ul li {
                float:left;
                width:48%;
            }

                article.full .more-articles ul li:nth-child(1) {
                    border-bottom:0;
                    margin-right:4%;
                }

            article.full .more-articles h6 {
                color:#00b9f3;
            }

    .article-body p,
    .article-body ul,
    .article-body ol {
        font-size:1.31em;
    }

    article.compact .img-wrapper {
        max-height: 232px;
        min-height: 232px;
        overflow: hidden;
        max-width: 450px;
    }

}

@media (min-width:900px) and (max-width:1599px) {
    .article-link {
        float:left;
        margin-right:3.3%;
        width:31%;
    }

    article.compact {
        min-height:500px;
        max-height:500px;
    }

    .articles-list .article-link:nth-of-type(3n) {
        margin-right:0;
    }
}

@media (min-width:1600px) {
    .container {
        max-width:90%;
    }

    .article-link {
        float:left;
        margin-right:2%%;
        width:23.5%;
    }

    article.compact {
        min-height:500px;
        max-height:500px;
    }

        article.compact .img-wrapper {
            max-width:100%;
        }

    .articles-list .article-link:nth-of-type(4n) {
        margin-right:0;
    }

    article.full {
        max-width:729px;
    }
}

@media (min-width:2000px) {
    article.compact {
        min-height:550px;
        max-height:550px;
    }

        article.compact .img-wrapper {
            max-height: 300px;
            min-height: 300px;
        }
}

/* Hi-DPI Media Query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-brand {
        background-image:url('../images/reader-logo@2x.png');
        background-repeat:no-repeat;
        background-position:50% 0;
    }

    .audio-icon {
        background:url('../images/audio-icon@2x.png') no-repeat 0 0;
        background-size: 27px 27px;
    }

    .bookmarklet {
        background-image:url('../images/bookmark-icon@2x.png');
    }

    .article-body a.embed-placeholder {
        background-image:url('../images/ico-embed-placeholder@2x.png');
        background-size:27px 19px;
    }
}
