<a id="donate-tile" href="http://scpr.org/support/underwriting/" class="article-link ember-view article-link">
  <article class='compact advertisement'>
    <header>
      <img class="img-responsive" src="http://images.ibsys.com/sh/sponsors/150016/scpr-scprmembership-300x250-150016-04022015-598.png" border="0" alt="" class="img_ad" style="">
    </header>
    <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
  </article>
</a>


{{!-- <div class="ad">
  <div class="dfp" id='dfp-dfp-slot_c'>
  <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('dfp-<%=ad_key%>'); });
  </script>
</div>

  <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
</div> --}}

{{!-- 
<a href="http://scpr.org/support/underwriting/">
  <article class='compact'>
    <img class="img-responsive" src="http://images.ibsys.com/sh/sponsors/150016/scpr-scprmembership-300x250-150016-04022015-598.png" border="0" alt="" class="img_ad" style="">
<p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>

  </article>
</a> --}}