{{#articles-grid model=model action='hitBottom'}}
  <div class="articles-list group">
  {{#each model as |article index|}}
    {{partial "articles/article-tile"}}
    {{#if (is-equal index 1)}}
      {{partial "articles/donate-tile"}}
    {{/if}}
  {{/each}}
  </div>
{{/articles-grid}}
<p class="progress-loader">Loading Articles</p>