<div class="navbar">
  <a class="navbar-brand" href="#">KPCC Reader</a>
  <a class="pull-right bookmarklet" href="javascript:(function()%7Bvar url,newWin%3Btry%7Bif(url%3DgetReaderUrl())newWin%3Dwindow.open(url,%27reader-%27%2B(new Date().getTime()/1000))%7Dcatch(e)%7Bif(newWin)%7BnewWin.close()%7D%3Balert(%27This function is not available on this page.%27)%3B%7D%7D)()%3B" title="Bookmarklet to open an article in Reader from KPCC.org">Open in Reader</a>
</div>

<div class="container">
  {{outlet}}
</div>