<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
  <a class="navbar-brand" href="#">KPCC Reader</a>
{{!--   <a class="pull-right bookmarklet" href="javascript:(function()%7Bvar url,newWin%3Btry%7Bif(url%3DgetReaderUrl())newWin%3Dwindow.open(url,%27reader-%27%2B(new Date().getTime()/1000))%7Dcatch(e)%7Bif(newWin)%7BnewWin.close()%7D%3Balert(%27This function is not available on this page.%27)%3B%7D%7D)()%3B" title="Bookmarklet to open an article in Reader from KPCC.org">Open in Reader</a> --}}
  <ul class="nav navbar-nav">
    <script>
      var open_popup = function(url){
        window.open(url, 'pop_up', 'height=850,' + 'width=556,' + 'resizable,' + 'left=10,' + 'top=10,' + 'scrollbars=yes,' + 'toolbar=no');
      }
    </script>
    <li id="listen-live" class="btn-warning"><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" >LISTEN LIVE</a></li>
    <li><a class="navbar-link" href="http://scpr.org/news">NEWS</a></li>
    <li><a class="navbar-link" href="http://scpr.org/programs">PROGRAMS</a></li>
    <li><a class="navbar-link" href="http://scpr.org/events">EVENTS</a></li>
    <li><a class="navbar-link" href="http://scpr.org/support">SUPPORT US</a></li>
    <li><a class="navbar-link" href="http://scpr.org/about">ABOUT US</a></li>
  </ul>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>